extends base.pug
include mixins/video

block head 
  title #{pageTitle} | clonging youtube

block content
  h2 welcome here you will see the trending videos
  each video in videos
    +video(video)
  else
    p Sorry, nothing found 